<div class="navbar">
  <img src="assets/images/11.png" class="center" width="200" height="80">

  <a routerLink="SignUp" style="float:right;" class="test">Signup</a>
  <a routerLink="Login" style="float: right;" class="test">login</a>
  <a routerLink=""  style="float: right;" class="test">Home</a>
  <!-- <button class="link" (click)="clickButton('/SignUp')" style="float: right;">Register</button>
  <button class="link" (click)="clickButton('/Login')" style="float: right;">Login</button>
  <button class="link" (click)="clickButton('')" style="float: right;">Home</button> -->
  <router-outlet></router-outlet>
</div>