.sign {

  border-radius: 25px;
  background-color: rgb(120, 218, 171);
  padding: 20px;
  width: 300px;
  height: 410px;
  position: relative;
  left: 475px;
}

.btn {
  margin: 10px;
}

.inpu {
  position: absolute;
  margin-right: 100px;
}